[Desktop Entry]
_Name=uVolMan
Exec=qmlscene %U uVolMan/Main.qml
Icon=uVolMan/uVolMan.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#aa0044
_X-Ubuntu-Splash-Title=uVolMan
X-Ubuntu-Splash-Show-Header=true
X-Ubuntu-Splash-Image=uVolMan/uVolManBack.png
